@{
    ViewData["Title"] = "Hakkımızda";
}

<div class="container mt-4">
    <h1>@ViewData["Title"]</h1>
    <div class="row">
        <div class="col-md-8">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Blog Sitemize Hoş Geldiniz</h5>
                    <p class="card-text">
                        Bu blog sitesi, teknoloji ve yazılım geliştirme konularında bilgi paylaşımı yapmak amacıyla kurulmuştur.
                        Amacımız, yazılım geliştiricilere ve teknoloji meraklılarına faydalı içerikler sunmaktır.
                    </p>
                    <p class="card-text">
                        Siz de üye olarak kendi makalelerinizi paylaşabilir, diğer yazarların makalelerine yorum yapabilirsiniz.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">İletişim</h5>
                    <p class="card-text">
                        <i class="bi bi-envelope"></i> Email: info@blogsitesi.com<br>
                        <i class="bi bi-telephone"></i> Tel: +90 (XXX) XXX XX XX<br>
                        <i class="bi bi-geo-alt"></i> Adres: İstanbul, Türkiye
                    </p>
                </div>
            </div>
        </div>
    </div>
</div> 